<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">


</head>
<body>
<header th:replace="plantilla/template :: header"></header>
<br>
<h1>Beneficios de un Sistema de Inventario</h1>
<br>
<marquee>*Conoces realmente tu inventario. *Aumentas las ventas tu empresa. *Reduces tiempo en el manejo de tus inventarios. *Aumentas el control de tu inventario. *Reduces costos en tus almacenes. </marquee>

<img th:src="@{/images/home-bg.jpg}" width="100%" vertical-align="middle">




<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>