<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:replace="plantilla/template :: header"></header>

	<div class="container">		
		<h1 th:text="${titulo}"></h1>		
	</div>
	
	<div class="container">
		
		<a class="btn btn-info btn-sm" th:href="@{/views/ingresos/create}"
			th:text="'Nuevo Ingreso'" title="Crear Nuevo Registro">
		</a>
	
		
		<table class="table" id="datat">
			<thead class="thead-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Producto</th>
					<th scope="col">Tienda</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Obseracion</th>
					<th scope="col">Fecha</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="in:${ingresos}">
					<th scope="row" th:text="${in.id}"></th>
					<td th:text="${in.producto.descripcion}"></td>	
					<td th:text="${in.tienda.nombre}"></td>	
					<td th:text="${in.cantidad}"></td>
					<td th:text="${in.observacion}"></td>
					<td th:text="${in.fecha}"></td>
					
					<td>
 						<a class="btn btn-info btn-sm" th:href="@{/views/ingresos/edit/} + ${in.id}"
 							th:text="'Editar'" title="Editar Registro"> -->
 						</a> 
 						<a class="btn btn-danger btn-sm" th:href="@{/views/ingresos/delete/} + ${in.id}"
 							th:text="'Eliminar'" title="Eliminar Registro" 
 							onclick="return confirm('Esta seguro de eliminar el registro?');">
						</a>
					</td>	
				
				</tr>
			</tbody>
		</table>


	</div>

	<footer th:replace="plantilla/template :: footer"></footer>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<script>
var idioma={
		"lengthMenu": 'Mostrar <select>'+
		'<option value="5">5</option>'+
		'<option value="10">10</option>'+
		'<option value="15">15</option>'+
		'<option value="20">20</option>'+
		'<option value="-1">Todos</option>'+
		'</select> registros',	
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    },
    "buttons": {
        "copy": "Copiar",
        "colvis": "Visibilidad"
    }
}
		$('#datat').DataTable(
			
			{"language":idioma,
            
            "pageLength": 5}
			);


	</script>	

</body>
</html>